#editor-region {
    width: auto;
    padding-right:10px;
    height: 100%;
}
.editor {
    width: 100%;
    height: 95%;
    color: #fff;
}
.ace_editor {
    position: absolute !important;
}
.ace_content {
    padding: 0;
    margin: 0;
}
.ace_gutter-layer {
    padding: 0;
    -webkit-box-shadow: inset -3px 0px 10px 0px rgba(0, 0, 0, .5);
    -moz-box-shadow: inset -3px 0px 10px 0px rgba(0, 0, 0, .5);
    box-shadow: inset -3px 0px 10px 0px rgba(0, 0, 0, .5);
    background: url(gutter-bg.jpg);
    color: #ccc;
}
.ace_error {
    background-position: 3px 0 !important;
}
