.js-argon-docs .docs h5{
    font-size: 15px;
    line-height: 2.5rem;
}

.js-argon-docs .docs p{
    font-size: 13px;
    line-height: 1.5rem;
}

#editor-top-action-bar {
    padding-left: 5px;
    padding-top: 2px;
}

#editor-top-action-bar a {
    margin: 0 0 0 5px;
    vertical-align: middle;
}

#editor-top-action-bar button {
    vertical-align: bottom;
    margin: 0;
    width: 100px;
    min-height: 32px;
    position: relative;
    text-shadow: unset;
    background: #1C1D1F;
    color: rgba(247, 247, 247, 0.8);
    border: none;
}

#editor-top-action-bar button:hover {
    background-color: #333;
}

.btn-sm {
    min-width: 40px !important;
}

.btn-md {
    min-width: 100px !important;
}

#editor-top-action-bar button span {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

#editor-top-bar {
    top: 35px;
}

#root-editor-wrapper {
    top: 70px;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

/*
button .spinner:before {
    content: '';
    position: absolute;
    box-sizing: border-box;
    top:15%;
    left: 25%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #07d;
    border-bottom-color: #07d;
    animation: spinner .8s ease infinite;
}
*/

button .spinner:before {
    content: '';
    position: absolute;
    box-sizing: border-box;
    top: 20%;
    left: 40%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #0F7204;
    border-bottom-color: #0F7204;
    animation: spinner .8s ease infinite;
}

#clientsDropDown {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 2%;
    z-index: 100;
}

#clientsOpen {
    background: url("images/open.png") no-repeat scroll 68px 10px #414142;
    color: #ececec;
    cursor: pointer;
    float: left;
    font-size: 26px;
    margin: -2px 0 0 10%;
    padding: 0 15px 2px;
    text-decoration: none;
    width: 63px;
}

#clientsCTA {
    background: #414142;
    width: 100%;
    color: #CCCCCC;
    text-align: center;
    font-size: 46px;
    margin: 0;
    padding: 30px 0;
    text-decoration: none;
}

#clientsDropDown .clientsClose {
    background-image: url(images/close.png);
}

#clientsDropDown #clientsDashboard {
    display: none;
}

#editor-bottom-bar {
/*    position: relative;
    left: 0;
    margin-left: 35px;*/
}

.unreset-ul{
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
}




