<form>
    <label>New Tutorial</label>
    <input name="project_name" autofocus="autofocus" autocomplete="off">
    <input type="hidden" name="project_path" autofocus="off" autocomplete="off">
    <button class="btn-left js-argon-create-tutorial" data-path="">Create Tutorial</button>
    <button class="btn-right" onclick="codiad.modal.unload();">Cancel</button>
</form>