<div id="editor-top-action-bar">
    <button class="btn-left" id="argon-run-pause"><span>Run</span></button>
    <button class="btn-mid" id="argon-reset"><span>Stop</span></button>
    <!--<button class="btn-mid" id="argon-variables"><span>Variables</span></button>-->
    <button class="btn-mid" id="argon-serial"><span>Serial</span></button>
    <button class="btn-mid" id="argon-deploy"><span>Deploy</span></button>
    <button class="btn-mid" id="argon-compile"><span>Compile</span></button>
    <button class="btn-mid" id="argon-update"><span>Update</span></button>
</div>
<script>
    $('#argon-run-pause').on('click', function () {
        codiad.Argon.run();
    });

    $('#argon-reset').on('click', function () {
        codiad.Argon.reset();
    });

    $('#argon-variables').on('click', function () {
        codiad.Argon.variables();
    });

    $('#argon-update').on('click', function () {
        codiad.Argon.update();
    });

    $('#argon-serial').on('click', function (e) {
        codiad.Argon.serial();
        e.preventDefault();
        e.stopPropagation();
    });
</script>