<div class="sb-right-category">
    <a data-doc-path="index.html" class="get-doc" style="width: auto;min-width: unset">
        Argon Docs
    </a>
</div>
<div class="js-argon-docs">
    <div class="docs"></div>
</div>